a{
    text-decoration:none;
}
.top_m{
    margin-left: 20px;
    color:  #000;
}
.bg{
    background-color: #044e81;
    font-family:'ABeeZee';
}
.ml-auto{
    margin-left:auto;
    font-family:'ABeeZee';
}
.button_rd1{
    background-color:#36b7e4;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    width: 35%;
    text-align: center;
    height: 35px;
    margin-top: 12px;
}
nav.navbar.ml-auto{
    margin-right: 7px;
    padding-top: 20px;
}
.ml{
    margin-right: 10px;
}
.announcbar a{
    color:#fff;
}
nav.navbar > ul > li{
    margin-left:20px;
    list-style: none;
}
.button{
    background-color: #044e81;
    border-radius: 50px;
    padding: 15px;
    width: 50%;
    color: #fff; 
}
.site_logo{
    margin-left: 20px;
}
.lead{
    font-size: 30px;
    font-family:'ABeeZee'
}

.ib{
    border-color:#fff;
    border-style: none;
    box-shadow: 0px 0px 0px 0px #888888;
    font-size: 15px;
}
.fh{
    color:#044e81;
    font-family: 'Baloo Da 2';
    font-size: 25px;
    font-weight: bold;
}
.login-box{
    background-color:rgb(165, 203, 206);
    padding: 20px;
    border-radius: 5px;
}
.imb{
    width: 100%;
    font-size: 15px;
}
.f-button{
    width: 100%;
    background-color: #36b7e4;
    color: #fff;
    font-family: 'ABeeZee';
}
.age{
    font-family: 'Baloo Da 2';
    font-weight: bolder; 
    padding-top: 75px;  
}
.grp_button{
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 50px;
    font-weight: bold;
    -webkit-box-shadow: -1px -2px 34px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    box-shadow: -1px -2px 12px -3px rgba(0,0,0,0.48);
    }
.faw{
    color: #055f9d;
    font-size: 35px !important;
}
.button_name{
    font-family: "Baloo Da 2";
    color: #464242;
    font-size: 20px;
    padding-left: 25px;
}
.hd{
    font-family: 'Baloo Da 2';
    font-weight: bold;
    color: #464242;  
}
.sub_hd{
    font-family:'ABeeZee';
    font-weight: bold;
    font-size: 25px ;
    color: #055f9d ;
}
.paragraph{
    font-family:'ABeeZee';
    color: #888888;
}
.button_rd{
   background-color:#36b7e4;
   font-size: 15px;
   font-weight: bolder;
   border-radius: 20px;
   width: 35%;
   text-align: center;
}
.txt{
    color: #fff;
}
.cf{
 background-color: #d4d4d4;
 padding-bottom: 100px;
}
._{
    padding-top: 100px;
}
.hd2{
    color:#464242;
    font-family:'Baloo Da 2' ;
    font-size: 50px;
    font-weight: bold;
}
.p2{
    color: #464242;
    font-family: 'Baloo Da 2';
    font-weight: bold;
    font-size: 25px;
}
.ctnr2{
    background-color: #fff;
    border-radius: 20px;
}

.hd3{
    color:#044e81;
    font-size: 30px;
    font-family: 'Baloo Da 2';
    font-weight: bold;
}
.p3{
    color:#464242;
    font-size: 15px;
    font-family:'ABeeZee' ;
}
.pin{
    font-size: 12px;
    color:#464242;
    font-family:'ABeeZee' ;
    padding: 10px!important;
}
.pin_icn{
    color:#464242;  
}
.button_cc{
    padding-top: 50px;
    margin-left: 50px!important;
}
.ctnr_h{
    height: 525px;
}
.m_l{
    margin-left: 20px!important;
}
.button_ba{
    margin-left: 5px!important;
    background-color:#055f9d;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    width: 50%;
    text-align: center;   
}
.ctnr3{
    background-color: #3475a0;
    border-radius: 20px;
}
.ctnr_a{
    padding-top: 100px;
    padding-bottom: 100px;
}
.hd4{
    color:#fff;
    font-size: 35px;
    font-family: 'Baloo Da 2';
    font-weight: bold;
}
.ply{
    color: #fff;
    font-size: 100px !important;
}
.p4{
    color: #fff;
    font-family:'ABeeZee' ;
    font-size: 15px;
}
.hd5{
    color:#fff;
    font-size: 30px;
    font-family:'ABeeZee' ; 
}
.btn_g2{
    color:#08619e;
    font-size: 30px;
    font-family:'ABeeZee' ; 
    background-color:#fff ;
    border-radius: 10px;
    width: 100%;
}
.ctnr_f2{
    background-color: #d4d4d4;
}
.ctnr_b{
    padding-top: 100px;
}
.ctnr_c{
    border-radius: px;
    background-color: #fff;
}
.ctnrd{
    padding: 20px;
}
.hd6{
    font-family: 'Baloo Da 2';
    font-weight: bolder;
    color: #464242; 
    font-size: 30px; 
}
.p_4{
    color:#464242;
    font-size: 20px;
    font-family:'ABeeZee' ; 
}
.button_lm{
    justify-content: center;
    width: 40%; 
    height: 7%;
    background-color: #36b7e4;
    border-radius: 50px;
    margin-left: 20px;  
}
.lm{
    font-size: 20px;
    padding-left: 45px;
    color: #fff;
}
.ctnr_e{
    background-color: #055f9d;
    border-radius: 0px;
}
.dr_t{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    font-family:'Baloo Da 2' ;
}
.p_drt{
    color: #fff;
    font-size: 25px;
    font-family:'ABeeZee' ;
}
.dr_n{
    color: #fff;
    font-family:'ABeeZee' ;
    font-size: 30px;
    text-align: center;
}
.dr_b{
    color: #fff;
    font-family:'ABeeZee' ;
    font-size: 20px;
    text-align: center;
}
.hdh{
    font-size: 45px;
    font-weight: bold;
    font-family:'Baloo Da 2' ;
    color: #464242;
}
.hhd_p{
    color: #464242;
    font-family: 'ABeeZee';
    font-size: 20px;
    font-weight: bold;
}
.ctnr_p{
    border-radius: 10px;
    margin: 5px !important;
    -webkit-box-shadow: 2px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 22px 0px rgba(0,0,0,0.75);
}
.sub_ctnr{
    padding: 20px;
}
.pg{
    color: #464242;
    font-family: 'ABeeZee';
    font-size: 20px;
}
.cot{
    background-color: #cddfeb;
    border-radius: 100px;
    align-items: center;
}
.cot_f{
    font-size: 40px;
    color:#055f9d;
    padding: 20px;
}
.jhonathone{
    font-family:'Baloo Da 2';
    font-size: 25px;
    font-weight: bolder;
    color: #055f9d;
}
.Patient{
    font-family:'ABeeZee';
    font-size: 20px;
    color:#464242;
}
.map{
    width: 100%;
    height: 100%;
}
.table{
    height: 97%;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family:'ABeeZee' ;
    font-weight: bold;
  }
tr:nth-child(even) {
    background-color: #9e9e9e;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
  .tm{
    color: #055f9d;
  }
  .add{
    text-align: start;
  }
  .lhd1{
    color:#464242;
    font-size: 35px;
    font-weight: bold;
    font-family:'Baloo Da 2' ;
}
.opt{
    color:#888888;
}
.icn{
    color: #055f9d;
    padding: 15px!important;
}
.add{
    color: #888888;
}
.ph{
    color: #888888; 
    padding-top: 10px;
}
.socal_button{
    background-color: #055f9d;
    border-radius: 50px;
}
.socal_icon{
    color: #fff;
}
.img-7{
    width: 95%;
}
.sec{
    background-color: #044e81;
    padding: 20px;
}
.copy{
    color: #fff; 
}
.cm{
    color: #fff;
    font-size: 'ABeeZee';
}
.lst{
    margin-left: 150px;
}
.img{
    width: 50%;
}
.btn_cc{
    padding-top: 100px!important;
}
.cc_f{
    padding-top: 10px!important;
}
.ccimg{
    width: 655px!important;
    border-radius: 25px;
}
button.btn.socal_button {
    margin-right: 15px;
}
a.d-flex {
    margin-left: -15px;
}
.underline {
    width: 35%!important;
    height: 2%;
    border-radius: 5px;
}
.bb{
   padding-left: 100px;
}
.pd_o{
    padding: 20px;
}
/* @media only screen and (max-width: 767px) {
    span {
        display: none;
    }
    h1.display-2.age {
        font-size: 25px;
        margin-left: -84px;
    }
    
p.lead.dispaly-2 {
    margin-left: -67px;
    font-size: 16px;
}
a.btn.button {
    width: 155px;
    margin-left: -17px;
}
.login-box {
    margin-left: -127px;
}
.wimg{
        width: 100%;
        margin-top: -137px;
}
.hd {
    font-size: 18px;
    padding-left: 5px;
}
.sub_hd {
    font-size: 25px;
    font-size: 85%;
    margin-top: -27px;
    padding-left: 20px;
}
.paragraph {
    margin-top: -24px;
}
.hd2{
    font-size: 19px;
    margin-left: -3px;
}
.p2{
    font-size: 13px;
    margin-top: -13px;
}
.ctnr2{
    margin-top: -43px;
}
.hd4{
    font-size: 20px;
}
.hd6{
    font-size: 22px;
    margin-top: 47px;
}
.sub_hd{
    margin-top: 1px;
    margin-left: -17px;
}
.pd_o{
    margin-top: 10px;
}
.px-5.col-lg-6.col-sm-2 {
    margin-top: 195px;
    margin-left: -158px;
    font-size: 12px;
}
p.paragraph {
    margin-left: -181px;
}
img.img_II {
    width: 355px;
    margin-left: -8px;
}
h2.display-6.hd {
    margin-left: -190px;
    margin-top: 149px;
    margin-bottom: 33px;
}
a.btn.button_rd1 {
    margin-left: -178px;
    width: 100px;
}
p.pg {
    font-size: 8px;
}
h1.hdh {
    font-size: 30px;
}
p.hhd_p {
    font-size: 15px;
}
.doc_img{
    width: 100%;
}
} */
